body { background:#141414; color:white; }

.row { display:flex; overflow-x:auto; }

.grid {
 display:grid;
 grid-template-columns:repeat(auto-fill,180px);
 gap:15px;
}

.card img { width:180px; border-radius:8px; }

.card:hover { transform:scale(1.2); }