body {
  margin: 0;
  background: #141414;
  color: white;
}

/* HERO */
.hero {
  height: 70vh;
  background-size: cover;
  display: flex;
  align-items: end;
}

.hero-overlay {
  padding: 40px;
  background: linear-gradient(to top, black, transparent);
}

/* ROW */
.row {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

/* CARD */
.card {
  width: 180px;
  height: 260px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.3);
  z-index: 10;
}

/* VIDEO PREVIEW */
.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .preview {
  opacity: 1;
}

/* COVER */
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* TITLE */
.card-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(to top, black, transparent);
  width: 100%;
}

/* PROGRESS */
.progress {
  height: 4px;
  background: red;
  position: absolute;
  bottom: 0;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}

video {
  width: 100%;
}